<footer>
    <div class="footer-bg">
        <div class="footer-top-area pt-5 ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <h5 class="pb-3"><a href="#">MyCourse</a></h5>
                        <p class="pb-2">The automated process starts as soon as your clothes go into the machine.</p>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <h5 class="pb-3">Our solutions</h5>
                        <ul>
                            <li>
                                <a href=" # ">Design & creatives</a>
                            </li>
                            <li>
                                <a href="# ">Telecommunication</a>
                            </li>
                            <li>
                                <a href="# ">Restaurant</a>
                            </li>
                            <li>
                                <a href="# ">Programing</a>
                            </li>
                            <li>
                                <a href="# ">Architecture</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 ">
                        <h5 class="pb-3 ">Support</h5>
                        <ul>
                            <li>
                                <a href=" # ">Design & creatives</a>
                            </li>
                            <li>
                                <a href="# ">Telecommunication</a>
                            </li>
                            <li>
                                <a href="# ">Restaurant</a>
                            </li>
                            <li>
                                <a href="# ">Programing</a>
                            </li>
                            <li>
                                <a href="# ">Architecture</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 ">
                        <h5 class="pb-3 ">Company</h5>
                        <ul>
                            <li>
                                <a href=" # ">Design & creatives</a>
                            </li>
                            <li>
                                <a href="# ">Telecommunication</a>
                            </li>
                            <li>
                                <a href="# ">Restaurant</a>
                            </li>
                            <li>
                                <a href="# ">Programing</a>
                            </li>
                            <li>
                                <a href="# ">Architecture</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <div class="footer-bottom-area   mt-5">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12">
                            <div class="text-center">
                                <p>Copyright ©2021 All rights reserved | This template is made by <span>Angular</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
