<div class="container  pt-5 mt-3 pb-5">
    <div class="row">

        <div class="col-md-6 d-flex justify-content-center">
            <div class="left-content  ">
                <h1 class="mb-3">Learn new skills online with<br> top educators</h1>
                <div class="features d-flex">
                    <div class="icons pt-1 ">
                        <img src="assets/img/right.png">
                    </div>
                    <div class="featureContent pt-2">
                        <p class="pr-4 pl-4">Techniques to engage effectively with vulnerable<br> children and young people.</p>
                    </div>
                </div>
                <div class="features d-flex">
                    <div class="icons pt-1 ">
                        <img src="assets/img/right.png">
                    </div>
                    <div class="featureContent pt-2">
                        <p class="pr-4 pl-4">Techniques to engage effectively with vulnerable<br> children and young people.</p>
                    </div>
                </div>
                <div class="features d-flex">
                    <div class="icons pt-1 ">
                        <img src="assets/img/right.png">
                    </div>
                    <div class="featureContent  pt-2">
                        <p class="pr-4 pl-4">Techniques to engage effectively with vulnerable<br> children and young people.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class=" col-lg-6 col-md-6">
            <img src="assets/img/skills.jpg">
        </div>
    </div>
</div>