<div class="container mt-5 mb-5">
    <div class="row pt-5">
        <div class="col-md-8">
            <h3 class="pb-3">Get in Touch</h3>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control" id="ControlTextarea1" rows="4" placeholder="enter your massage" [(ngModel)]="massage"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="enter your name" [(ngModel)]="name" type="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="enter your email" [(ngModel)]="email" type="email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" name="subject" placeholder="Subject" [(ngModel)]="subject" type="text">
                </div>
                <button class="btn btnBg">Send</button>
            </div>
        </div>
    </div>
</div>
