<section>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-6">
                <div class="right-content">
                    <img src="../../assets/img/course3.jpg">
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center p-4">
                <div class="left-content  ">
                    <h1> Take the next step<br> toward your personal<br> and professional goals<br> with us.</h1>
                    <p class="pt-2">The automated process all your website tasks. Discover tools<br> and techniques to engage effectively with vulnerable children<br> and young people.</p>
                    <button class="btn btnBg">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>
