<div class="container">
    <div class="row">
        <div class=" col-lg-6 col-md-6">
            <img src="../../assets/img/about3.png">
        </div>
        <div class="col-md-6 d-flex justify-content-center p-4">
            <div class="left-content  ">
                <h1 class="mb-3"> Learner outcomes on<br> courses you will take</h1>
                <div class="features d-flex">
                    <div class="icons mr-2">
                        <img src="../../assets/img/icons8-course-64.png">
                    </div>
                    <div class="featureContent pt-2">
                        <p>Techniques to engage effectively with vulnerable children and young people.</p>
                    </div>
                </div>
                <div class="features d-flex">
                    <div class="icons  mr-2">
                        <img src="../../assets/img/icons8-course-64.png">
                    </div>
                    <div class="featureContent pt-2">
                        <p>Techniques to engage effectively with vulnerable children and young people.</p>
                    </div>
                </div>
                <div class="features d-flex">
                    <div class="icons  mr-2">
                        <img src="../../assets/img/icons8-course-64.png">
                    </div>
                    <div class="featureContent  pt-2">
                        <p>Techniques to engage effectively with vulnerable children and young people.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
