.navbg {
    background-image: linear-gradient(to left, rgb(50, 34, 83), #BF2B89);
}

.navbar-brand:hover {
    color: #6F266A !important;
}

.linkActive {
    color: #fff !important;
    border-bottom: 1px solid #BF2B89;
}

.btn {
    border-radius: 0.9rem !important;
    padding: 3px 20px !important;
    color: #ffffff;
    background-color: #BF2B89;
}

.btn:hover {
    background-color: #fff;
    color: #BF2B89
}
