<div class="container">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/course4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Front End for web Development</h5>
                    <p class="card-text">The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                    <a href="#" class="btn btnBg">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/course1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fundamental of UX for Application design</h5>
                    <p class="card-text">The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                    <a href="#" class="btn btnBg">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/course6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fundamental of UX for Application design</h5>
                    <p class="card-text">The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                    <a href="#" class="btn btnBg">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
