<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 ">
            <div class="featureItems d-flex p-3">
                <div class="icons pt-3  mr-2">
                    <img src="assets/img/icons8-course-64.png">
                </div>
                <div class="items">
                    <h5>Expert instructors</h5>
                    <p>The automated process all your website tasks</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="featureItems d-flex p-3">
                <div class="icons pt-3  mr-2">
                    <img src="assets/img/feature1.png">
                </div>
                <div class="items">
                    <h5>Expert instructors</h5>
                    <p>The automated process all your website tasks</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="featureItems d-flex p-3">
                <div class="icons pt-3  mr-2">
                    <img src="assets/img/feature2.png">
                </div>
                <div class="items">
                    <h5>Expert instructors</h5>
                    <p>The automated process all your website tasks</p>
                </div>
            </div>
        </div>
    </div>
</div>